body {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  

  .GG{
    list-style-type: none;
    font-family: 'Trebuchet MS', sans-serif;
    position: absolute;
    top: 35px;
    left: 450px;
  }
  .bg{
    position: absolute;
    align-items: center;
    top: 50px;
    left: 300px;
    opacity: 30%;
  }
  .square{
    height: 100px;
    width: 2000px;
    background-color: rgb(237, 229, 221);
    position: fixed;
    top: 750px;
    left: 0px;
  }
  .logo{
    position: fixed;
    top: 650px;
    left: 800px;
  }
  .gg{
    position: fixed;
    top: 785px;
    left: 1400px;
    color: #A07F78;
    }
  .UI{
    position: fixed;
    top: 755px;
    right: 1450px;
    color: #A07F78;
  }
  .squaress{
    height: 40px;
    width: 2000px;
    background-color: rgb(237, 229, 221);
    position: fixed;
    top: 15px;
    left: 0px;
  }    
  .home{
    position: fixed;
    top: 22px;
    left: 20px;
  }
  .locaiton{
    position: fixed;
    top: 22px;
    left: 70px;
  }
  .olog{
    position: fixed;
    top: 5px;
    left: 1750px;
  }